section(class="facaparte" id="inscricao")
	article
		p.title Our main goal is to become a startups's house.
		p If you have, want to create or help a startup to change Angola, then sign up in our form to be a part of KiandaHUB. 
		//a(href="#fazerparte" class="scroll")
		.controls
			input(type="button" value="Sign up" class="btn inscricao")
			input(type="button" value="Newsletter" class="btn newsletter_bt")
	// Formulário fazer parte
	include ./form

	// Newsletter
	include ./newsletter