footer.mainFooter
	.logotipoBottom
		img(src="../assets/img/logotipoBottom.png")
	.wrap
		.copyright
			p © 2015 - KiandaHUB
			p Banco BFA, Rua 5 Travessa 3, <b>Benfica</b>
			p <a href="mailto:geral@kiandahub.com"><b>geral@kiandahub.com</b></a> / 912 200 520 / 997 460 995
		.socialIcons
			a(href="https://www.facebook.com/kiandahub")
				.social
					img(src="../assets/img/social/facebook12.png" class="facebook")
			a(href="https://twitter.com/kiandahub")
				.social
					img(src="../assets/img/social/social19.png" class="icon")
			a(href="http://instagram.com/kiandahub")
				.social
					img(src="../assets/img/social/instagram3.png" class="icon")
			a(href="") 
				.social
					img(src="../assets/img/social/google1.png" class="icon")
			a(href="https://www.linkedin.com/company/6429775?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A1-1-1%2CtarId%3A1431001921010%2Ctas%3AKiandaHUB")
				.social
					img(src="../assets/img/social/socialnetwork21.png" class="icon")
			a(href="https://github.com/kiandahub")
				.social
					img(src="../assets/img/social/logotype18.png" class="icon")
		.about
			p Code by: <a target="blank" href="http://criativament.github.io">Criativament</a> and domain by <a target="blank" href="http://www.ngolait.co.ao">NgolaIT</a>