section(class="home" id="home")
	.wrap
		// Informações da primeira section
		article
			.slide
				div
					p.title The ideal place for you to work on your ideas.
				//div
					p.title Desenvolver projectos inovadores com a sua equipa.
				div
					p.title Events to boost digital entrepreneurship.
				div
					p.title Share workspace with visionary people
				//div
					p.title Sessões de 

			//p Ambiente preparado para receber startups, dando-lhes a possibilidade de desenvolverem os seus projectos.
			p We support and monitoring the entrepreneurs through events, consulting and co-working space.
			.controls
				a(href="#mapa" class="scroll")
					input(type="button" value="Como chegar" class="btn")
				a(href="#inscricao" class="scroll")
					input(type="button" value="Inscrever-me" class="btn")

	// Link para baixo
	//.baixo
			a(href="#") PARA BAIXO