section(id="mapa" name="mapa" class="mapa")
	.prevenirScroll
	iframe(src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d7882.5732089587345!2d13.162241402786641!3d-8.9457159533508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x1a518aa37d4edca9%3A0xdbbfe1cc61f6f360!2sBFA+-+Quifica%2C+Belas%2C+Angola!3m2!1d-8.943895999999999!2d13.15667!4m5!1s0x1a518aa92bf90b2f%3A0x68b33c15417120e6!2sKiandaHub%2C+Rua+5+Travessa+3%2C+Belas%2C+Angola!3m2!1d-8.947223!2d13.165728!5e0!3m2!1spt-PT!2s!4v1422188028632&z=10" frameborder="0" style="border:0" class="mapsDesktop")
	iframe(width="600" height="450" frameborder="0" style="border:0" class="mapsMobile" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAC4vOPA1FkE7iXeP3hF03XZPCMjVQsTAc&q=KiandaHub&zoom=14")