@media screen and (max-width: 480px)
	
	body
		background-size 586px 334px
		background-position-x -160px
		background-attachment initial

	// Header
	.mainHeader ul li:first-child, .mainHeader ul li:last-child
		display none
	
	.mainHeader ul
		height 46px
		
	.mainHeader .logotipo
		width 115px

	// Home
	.home
		height 558px
		margin-bottom 38px

	.home .wrap
		width 96%
		
	.home article
		width initial
		text-align center
	
	.home article .title
		font-size 25px

	.home article p
		color #333
		
	.home article .slide
		height 75px
	
	.controls
		margin 20px auto 0 auto
		display block !important

	.controls .btn
		width 150px
		
	.title
		font-size 
		
	// Faça parte
	.facaparte
		height 567px
		align-items flex-end
		-webkit-box-align end
		background-repeat no-repeat
		background-attachment initial
		background-size 586px 334px
		background-position-x -98px
	
	.facaparte article
		width 96%
		color #333
		text-align center
		
	.facaparte article p
		color #333

	.facaparte article .title
		font-size 25px
	
	.facaparte article a
		display flex
		display -webkit-box

	.facaparte article .btn
		margin 25px auto
		display block
		
	// Lightbox
	.formLightBox
		width 98%
	
	.formLightBox .btn
		width 140px

	.mapa .mapsDesktop
		display none

	.mapa .mapsMobile
		display block	
	
	// Rodapé	
	.mainFooter .logotipoBottom img
		width 28px

		
@media screen and (max-width: 320px)

	.controls .btn
		width 120px
		
	.home article .slide
		height 88px
		
	.proximo, .registar
		width 137px
		
	.mainFooter p
		font-size 10px