@media screen and (max-width: 768px)
	
	body
		background-position-x -166px
		background-size 1335px 800px
		
	.formLightBox
		width 60%

	.facaparte
		background-size 1318px 1045px
		/*background-position-x -242px*/
		
	.mapa iframe
		display none
		
	.mapa .mapsMobile
		display block
		