@media screen and (max-width: 1352px)
	.formLightBox 
		width 40%

@media screen and (max-width: 1024px)

	.formLightBox
		width 42%

@media screen and (max-width: 1352px)
	.formLightBox 
		width 40%
		
@media screen and (max-width: 915px)
	.newsletter_box
		height 252px

@media screen and (max-width: 760px)
	
	body
		background-position-x -166px
		background-size 1335px 800px
		
	.formLightBox
		width 74%

	.facaparte
		background-size 1389px 1045px
		background-attachment initial
		background-position-x -242px
		
	.mapa iframe
		display none
		
	.mapa .mapsMobile
		display block
		
	.newsletter_box
		width 60%
		height 275px
		
	.newsletter_box .footer
		width 60%
		height 70px