section.facaparte
	article
		p.title Ser uma casa de Startups é um dos nossos objectivos.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quisquam rem amet cupiditate atque nihil.
		a(href="#fazerparte" class="scroll")
			input(type="button" value="Inscrever-me" class="btn")
	// Formulário fazer parte
	include ./form