footer.mainFooter
	.logotipoBottom
		img(src="assets/img/logotipoBottom.png")
	.wrap
		.copyright
			p © 2015 - KiandaHUB
			p KiandaHub, Rua 5 Travessa 3, <b>Belas</b>
			p <a href="mailto:geral@kiandahub.com"><b>geral@kiandahub.com</b></a> / 912 200 520 / 997 460 995
		//.socialIcons
			img(src="assets/img/")
			img(src="assets/img/")
			img(src="assets/img/")
			img(src="assets/img/")
