.form_fazerparte
	.formLightBox
		.fechar x
		header
			p.title Junte-se a nós
			p.desc Insira os seus dados e faça parte do KiandaHUB, a casa das startups e do empreendedorismo digital. 
		.formBody
			form
				input(type="text" placeholder="NOME")
				.subForm
					input(type="email" placeholder="E-MAIL")
					input(type="text" placeholder="TELEFONE")
				.subForm
					input(type="text" placeholder="PAÍS")
					input(type="text" placeholder="MORADA")
				p.desc Interessado em?
				.subForm					
					select(name="interessado")
						option(value="startup") -
						option(value="startup") Startups
						option(value="investidor") Investir em startups
						option(value="mentor") Ser um mentor
		footer