.form_fazerparte
	.formLightBox
		.fechar x
		header
			p.title Junte-se a nós
			p.desc Insira os seus dados e faça parte do KiandaHUB, a casa das startups e do empreendedorismo digital. 
		.formBody
			form
				p.desc Os campos com * são obrigatórios.
				.formBasico
					input(type="text" placeholder="NOME *" class="inputField")
					.subForm
						input(type="email" placeholder="E-MAIL *" class="inputField")
						input(type="text" placeholder="TELEFONE" class="inputField")
					.subForm
						input(type="text" placeholder="PAÍS *" class="inputField")
						input(type="text" placeholder="MORADA" class="inputField")
					.subForm
						input(type="date" placeholder="DATA DE NASCIMENTO" class="inputField")
						select(name="academico" class="nivel_academico inputField")
							option(value="") NÍVEL ACADÉMICO
							option(value="ensinomedio") Ensino médio
							option(value="licenciatura") Licenciatura
							option(value="posgraduado") Pós graduado
							option(value="doutoramento") Doutoramento
					p.desc Interessado em?
					.subForm					
						select(name="interessado" class="interessado inputField")
							option(value="") -
							option(value="startup") Startups
							option(value="investidor") Investir em startups
							option(value="mentor") Ser um mentor
				.startup
					input(type="text" placeholder="NOME DA STARTUP*")
					.subForm
						input(type="text" placeholder="URL")
						input(type="email" placeholder="EMAIL*")
					textarea(placeholder="SOBRE A STARTUP (Fundação, projectos, áreas de interesse...)*")
				.investidor
					.subForm
						input(type="text" placeholder="EMPRESA*")
						input(type="text" placeholder="CARGO*")
					p.desc Já investiu antes?
					input(type="radio" name="ja_investiu" value="Sim")
					span.desc Sim 
					input(type="radio" name="ja_investiu" value="Não")
					span.desc Não
					textarea(placeholder="PROJECTOS INVESTIDOS")
				.mentor
					.subForm
						input(type="text" placeholder="EMPRESA*")
						input(type="text" placeholder="CARGO*")
					p.desc Já foi mentor antes?
					input(type="radio" name="ja_mentor" value="Sim")
					span.desc Sim 
					input(type="radio" name="ja_mentor" value="Não")
					span.desc Não
					textarea(placeholder="FALE SOBRE ESSA EXPERIÊNCIA*")
		footer
			.wrap
				input(type="button" value="Próximo" class="btn proximo" disabled)
				input(type="button" value="Registar" class="btn registar" disabled)
