section(class="home" id="home")
	.wrap
		// Informações da primeira section
		article
			.slide
				div
					p.title O local ideal para você trabalhar nas suas ideias.
				//div
					p.title Desenvolver projectos inovadores com a sua equipa.
				div
					p.title Eventos para fomentar o empreendedorismo digital.
				div
					p.title Partilhe o espaço de trabalho com pessoas visionarias.
				//div
					p.title Sessões de 

			//p Ambiente preparado para receber startups, dando-lhes a possibilidade de desenvolverem os seus projectos.
			p Oferecemos suporte e acompanhamento a empreendedores através de eventos, consultoria e co-­working space.
			.controls
				a(href="#mapa" class="scroll")
					input(type="button" value="Como chegar" class="btn")
				a(href="#inscricao" class="scroll")
					input(type="button" value="Inscrever-me" class="btn")

	// Link para baixo
	//.baixo
			a(href="#") PARA BAIXO