section(class="home" id="home")
	.wrap
		// Informações da primeira section
		article
			.slide
				div
					p.title O local ideal para você trabalhar nas suas ideias.
				div
					p.title  Desenvolver projectos inovadores com a sua equipa.
				div
					p.title Partilhar espaço de trabalho com pessoas visionarias.
				//div
					p.title Internet e máquina café sempre a disposição.
			p Ambiente preparado para receber startups, dando-lhes a possibilidade de desenvolverem os seus projectos.
			.controls
				a(href="#mapa" class="scroll")
					input(type="button" value="Como chegar" class="btn")
				a(href="#inscricao" class="scroll")
					input(type="button" value="Inscrever-me" class="btn")

	// Link para baixo
	//.baixo
			a(href="#") PARA BAIXO