section.home
	// Informações da primeira section
	article
		h1 O local perfeito para você trabalhar nas suas ideias
		p Ambiente preparado para receber startups, dando-lhes a possilidade de desenvolverem os seus projectos.
		input(type="button" value="COMO CHEGAR")
		input(type="button" value="INSCREVER-ME")

	// Link para baixo
	a(href="#") PARA BAIXO