section.home
	.wrap
		// Informações da primeira section
		article
			p.title O local perfeito para você trabalhar nas suas ideias.
			p Ambiente preparado para receber startups, dando-lhes a possibilidade de desenvolverem os seus projectos.
			input(type="button" value="Como chegar" class="btn")
			input(type="button" value="Inscrever-me" class="btn")

	// Link para baixo
	//.baixo
			a(href="#") PARA BAIXO