*
	margin 0
	padding 0

body
	background-image url("../img/background.jpg")
	background-repeat no-repeat

.mainHeader
	width 100%
	height 30px
	display flex
	justify-content center
	background-color #FFF
	
.mainHeader .logotipo
	width 105px