*
	margin 0
	padding 0
	
// Fonts
@font-face
	font-family "Lato-Black"
	src url("../fonts/Lato-Black.ttf")

@font-face
	font-family "Lato-Regular"
	src url("../fonts/Lato-Regular.ttf")
	
@font-face
	font-family "Lato-Light"
	src url("../fonts/Lato-Light.ttf")

body
	background-image url("../img/background2.jpg")
	background-size cover
	background-repeat no-repeat
	background-attachment fixed
	font-family "Lato-Regular"
	
// Header

.mainHeader
	width 100%
	height 44px
	display flex
	display -webkit-box
	justify-content center
	-webkit-box-pack center
	background-color #FFF
	padding 2px 0
	position fixed
	z-index 9999
	
.scrollEffect
	box-shadow 1px 0px 4px #666
	
.mainHeader .logotipo
	width 150px
	-webkit-transition -webkit-transform .5s
	transition transform .5s
	
.mainHeader .logotipo:hover
	-webkit-transform scale(.9, .9)
	transform scale(.9, .9)
	
.mainHeader ul
	list-style none
	display flex
	display -webkit-box
	align-items center
	-webkit-box-align center
	font-size 12px

.mainHeader ul a
	color #333
	text-decoration none
	-wekit-transition color .5s
	-moz-transition color .5s
	-ms-transition color .5s
	transition color .5s
	
.mainHeader ul a:hover
	color #50a2de
	
.mainHeader ul li:first-child
	width 122px

.mainHeader ul li:last-child
	width 122px
	text-align right

// Home

.home
	width 100%
	height 700px
	color #FFF
	margin-bottom 100px

.home .wrap
	width 70%
	height inherit
	margin 0 auto
	display flex
	display -webkit-box
	align-items flex-end
	-webkit-box-align end

p
	color #FFF

.home article
	width 368px
	//border 1px solid red
	
article .title, .title
	font-size 32px
	font-family "Lato-Black"
	
.btn
	width 180px
	height 35px
	border none
	border-radius 3px
	background-color #50a2de
	color #EEE
	margin-top 10px
	font-size 14px
	cursor pointer
	font-family "Lato-Regular"
	transition background-color .5s
	-webkit-appearance none
	-moz-appearance none

	
.btn:focus
	outline none

.btn:hover
	//color #FFF
	background-color #35678a

article a
	text-decoration none

.home article a:last-child
	margin-left 8px
	
.home article .controls
	display flex
	display -webkit-box

.home .baixo
	width 100%
	text-align center
	font-size 10px
	
/* Section mapa */
.mapa
	width 100%
	height 800px
	position relative
	
.mapa .mapsMobile
	display none
		
.mapa .prevenirScroll
	width 100%
	height 100%
	position absolute
	
.mapa iframe
	width 100%
	height 100%
	
/* Section faça parte */
.facaparte
	width 100%
	height 800px
	background-image url("../img/back_facaparte.jpg")
	background-size cover
	background-attachment fixed
	display flex
	display -webkit-box
	align-items center
	-webkit-box-align center
	justify-content center
	-webkit-box-pack center
	position relative
	
.facaparte article
	width 393px
		
.facaparte article .btn
	margin-left 0
	
/* lightbox */ 
.form_fazerparte
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	background-color rgba(0, 0, 0, .5)
	justify-content center
	-webkit-box-pack center
	align-items center
	-webkit-box-align center
	display none
	
.formLightBox
	width 30%
	background-color #50a2de
	height 550px
	border-radius 3px
	padding-top 10px
	position relative
	
.formLightBox .fechar
	color #FFF
	float right
	cursor pointer
	margin-right 10px

.formLightBox header
	text-align center

.formLightBox .desc
	margin 10px 0
	font-size 14px
	color #DDD

.formBody
	width 90%
	margin 0 auto
	
input[type="text"], input[type="email"], input[type="date"]
	width 98%
	height 40px
	background-color #00709e
	border none
	border-radius 3px
	padding-left 8px
	color #EEE
	margin-top 10px
	-webkit-transition background-color .5s
	-moz-transition background-color .5s
	-ms-transition background-color .5s
	transition background-color .5s
	
input[type="date"]
	width 98%
	margin-bottom 10px
	-webkit-appearance none
	-moz-appearance none

	
input[type=date]::-webkit-clear-button, input[type=date]::-webkit-inner-spin-button
	display none
	
input[type=date]::-webkit-calendar-picker-indicator:hover
	background-color #00709e

// Remove outline of Chrome on Focus
input[type="text"]:focus, input[type="email"]:focus, .formBody select:focus, textarea:focus, input[type="date"]:focus
	outline none
	background-color #35678a
	
.formBody select
	border none
	background-color #00709e
	width 100%
	height 40px
	padding-left 8px
	color #FFF
	border-radius 3px
	cursor pointer
	-webkit-transition background-color .5s
	-moz-transition background-color .5s
	-ms-transition background-color .5s
	transition background-color .5s
	-webkit-appearance none
	-moz-appearance none

	
textarea
	width 96%
	height 100px
	background-color #00709e
	border none
	border-radius 3px
	padding 8px
	margin-top 10px
	color #FFF
	resize none
	-webkit-transition background-color .5s
	-moz-transition background-color .5s
	-ms-transition background-color .5s
	transition background-color .5s
	
.subForm .nivel_academico
	width 98%
	margin-top 10px

.formBody .subForm
	width 100%
	display flex
	/*display -webkit-box*/

::-webkit-input-placeholder
	color #FFF	
	
.subForm input[type="text"], .subForm input[type="email"]
	width 47%
	
.subForm input:last-child
	margin-left 10px
	
.formLightBox footer
	width 100%
	height 87px
	bottom 0
	background-color #DDD
	position absolute
	border-bottom-left-radius 3px
	border-bottom-right-radius 3px
	display flex
	display -webkit-box
	-webkit-box-pack center
	align-items center
	-webkit-box-align center
	
.formLightBox footer .wrap
	width 90%
	height 50px
	margin 0 auto

.formLightBox footer .wrap .btn:first-child
	float left 
	
.formLightBox footer .wrap .btn:last-child
	float right

.formLightBox footer .proximo:disabled, .formLightBox footer .registar:disabled
	background-color #333
	cursor default
	
.startup, .investidor, .mentor
	width 100%
	margin 0 auto
	display none

.mainFooter
	width 100%
	height 126px
	display flex
	display -webkit-box
	background-color #ddd
	justify-content center
	-webkit-box-pack center
	align-items center
	-webkit-box-align center
	
.mainFooter .wrap
	margin-left 12px

.mainFooter p
	color #333
	font-size 13px
	
.mainFooter a
	color #333
	text-decoration none

.mainFooter .socialIcons
	width 235px
	margin-top 5px
	display flex
	display -webkit-box
	justify-content space-between	
	-webkit-box-pack justify

.mainFooter .social
	width 35px
	height 35px
	border-radius 20px
	background-color #666
	cursor pointer
	display flex
	display -webkit-box
	justify-content center
	-webkit-box-pack center
	align-items center
	-webkit-box-align center
	-webkit-transition background-color 1s
	-mox-transition background-color 1s
	-ms-transition background-color 1s
	-o-transition background-color 1s
	transition background-color 1s
	
.mainFooter .social:hover
	background-color #333

.mainFooter .social .facebook
	width 8px
	height 12px

.mainFooter .social .icon
	width 15px
	height 12px

.mainFooter .logotipoBottom img
	width 40px
	
// Text fadeIn e fadeOut
.slide
	margin 0 auto
	width inherit
	height 115px
	overflow hidden

.slide div
	-webkit-transition opacity 1s ease-in-out
	-moz-transition opacity 1s ease-in-out
	-o-transition opacity 1s ease-in-out
	-ms-transition opacity 1s ease-in-out      
	transition opacity 1s ease-in-out
	opacity 0
	position absolute
	height inherit
	width inherit