<!DOCTYPE html>
html(lang="pt-pt")
	head
		meta(charset="UTF-8")
		title KiandaHUB - Centro de inovação e negócios para Startups
		// Stylesheets
		link(rel="stylesheet" href="assets/css/main.css")
		//link(rel="stylesheet" href="assets/css/foundation.min.css")
	body
		// Cabecalho
		header.mainHeader
			img(src="assets/img/logotipo.png" class="logotipo")

		// Home
		include _seccoes/home
	
		// Javascript
		script(src="assets/js/main.js")
	