<!DOCTYPE html>
html(lang="pt-pt")
	head
		meta(charset="UTF-8")
		title KiandaHUB - Centro de inovação e negócios para Startups
		// Favicon
		link(rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png")
		// Stylesheets
		link(rel="stylesheet" href="assets/css/main.css")
		//link(rel="stylesheet" href="assets/css/foundation.min.css")
	body
		// Cabecalho
		header.mainHeader.scrollEffect
			ul
				li 
					a(href="#mapa" class="scroll") COMO CHEGAR
				li
					a(href="/")
						img(src="assets/img/logotipo.png" class="logotipo")
				li 
					a(href="#inscricao" class="scroll") INSCREVER-ME

		// Home
		include _seccoes/home

		// Mapa
		include _seccoes/mapa

		// Faça parte
		include _seccoes/facaparte

		// Rodapé
		include _seccoes/footer
	
		// Javascript
		script(src="assets/js/libs/scroll.min.js")
		script(src="assets/js/main.js")
	
