<!DOCTYPE html>
html(lang="pt-pt")
	head
		meta(charset="UTF-8")
		title KiandaHUB - Centro de inovação e negócios para Startups
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0")
		// Meta tags for SEO
		meta(name="description" content="A casa das startups em Luanda")
		meta(name="keywords" content="TechHUB, Luanda, Angola, Kianda, KiandaHUB, Startups, Startup, Co-working")
		//link(rel="author" href="https://plus.google.com/[YOUR PERSONAL G+ PROFILE HERE]"")
		meta(property="og:title" content="KiandaHUB - Centro de inovação e negócios para Startups")
		meta(property="og:type" content="article")
		meta(property="og:image" content="http://kiandahub.github.io/assets/img/")
		meta(property="og:url" content="http://kiandahub.github.io")
		meta(property="og:description" content="")
		// Favicon
		link(rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png")
		// Stylesheets
		link(rel="stylesheet" href="assets/css/main.css")
		//link(rel="stylesheet" href="assets/css/foundation.min.css")
	body
		// Cabecalho
		header.mainHeader.scrollEffect
			ul
				li 
					a(href="#mapa" class="scroll") COMO CHEGAR
				li
					a(href="#home" class="scroll")
						img(src="assets/img/logotipo.png" class="logotipo")
				li 
					a(href="#inscricao" class="scroll") INSCREVER-ME

		// Home
		include _seccoes/home

		// Mapa
		include _seccoes/mapa

		// Faça parte
		include _seccoes/facaparte

		// Rodapé
		include _seccoes/footer
	
		// Javascript
		script(src="assets/js/libs/scroll.min.js")
		script(src="assets/js/main.js")
	
